@import "@styles/mixins";

.button {
  @include transition;
  @apply text-button-sm;

  display: flex;
  align-items: center;
  gap: 0.75rem;
  height: auto;
  padding: 1rem 2rem;
  text-transform: uppercase;

  & > svg {
    @include transition;

    min-width: 1.25rem;
    height: 1.25rem;
  }

  &.primary {
    @apply bg-secondary-600 text-accent-200;

    background: linear-gradient(268deg, #802b1e 2.96%, #e94f37 99.97%);

    & > svg {
      @apply text-accent-200;
    }

    &:hover {
      @apply shadow-lg shadow-secondary-500/20;

      opacity: 0.9;
    }
  }

  &.secondary {
    @apply text-accent-300 border border-solid border-accent-500/20;

    background: transparent;

    & > svg {
      @apply text-accent-300;
    }

    &:hover {
      @apply shadow-md shadow-accent-100/10;

      opacity: 0.9;
    }
  }
}
