@import "@styles/mixins";

.button {
    @include transition;
    @apply text-body-md text-accent-300;

    padding: 1rem;
    min-height: 56px;
    background: none;

    &:hover {
        @apply text-secondary-500;
    }
}

.dropdown {
    @apply bg-primary-500 border border-primary-100/20;

    padding: 1rem 0.5rem;
}

.link {
    @apply text-body-md text-accent-300;
}

.item {
    gap: 0.75rem;

    &[data-hover="true"] {
        @include transition;
        @apply bg-primary-100/20;

        & * {
            @include transition;
        }

        .link {
            @apply text-secondary-500;
        }
    }
}