@import "@styles/mixins";

.nav {
  @apply bg-primary-500/70;

  display: none;

  @screen desktop_md {
    display: flex;
  }
}

.logo {
  padding: 1rem 0;
}

.wrapper {
  @include body_margin;
  padding: 0;
  max-width: 100%;
}

.brand {
  justify-content: flex-end;
  gap: 1rem;
}

.item {
  display: flex;

  &[data-active="true"] {
    .link {
      @apply text-secondary-500;
    }
  }
}

.link {
  @apply text-body-sm text-accent-300;

  padding: 1rem;

  &:hover {
    @apply text-accent-600 #{!important};
  }

  @screen desktop_lg {
    @apply text-body-md;
  }

  @screen desktop_xl {
    @apply text-body-lg;
  }
}
