@import "@styles/mixins";

.nav {
  @apply bg-primary-500/70;

  display: none;

  @screen desktop_md {
    display: flex;
  }
}

.logo {
  position: relative;
  width: 5rem;
  height: 5rem;

  @screen desktop_lg {
    width: 6rem;
    height: 6rem;
  }
}

.wrapper {
  @include body_margin;
  padding: 0;
  max-width: 100%;
}

.brand {
  justify-content: flex-end;
  gap: 1rem;
}

.item {
  display: flex;
}

.link {
  @apply text-body-sm text-accent-300;

  padding: 1rem;

  @screen desktop_lg {
    @apply text-body-md;
  }

  @screen desktop_xl {
    @apply text-body-lg;
  }
}
