@import "@styles/mixins";

.checkbox {
  @include transition;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  &[data-focus="true"],
  &[data-hover="true"] {
    .wrapper {
      @apply border-secondary-500;

      box-shadow: 0 5px 20px hsl(12%, 19%, 69%, 0.24);

      &::before {
        @apply border-secondary-500 bg-transparent;
      }
    }
  }

  .icon {
    min-width: 1rem;
  }

  .label {
    @apply text-body-sm text-accent-500;

    @screen desktop_md {
      @apply text-body-md;
    }
  }

  .wrapper {
    @apply before:border-accent-500/20 before:border-solid before:border-1;

    min-width: 1.5rem;
    min-height: 1.5rem;
  }
}

.errorMessage {
  @apply text-label-sm text-danger;
}
