@import "@styles/mixins";

.section {
  @include article_flex;

  position: relative;
  padding: 6rem 0;

  @screen desktop_md {
    align-items: flex-start;
    padding: 8rem 0 4rem 0;
  }

  .content {
    @apply text-body-md;

    @screen desktop_md {
      max-width: 65%;
    }
  }

  .image {
    @screen desktop_md {
      position: absolute;
      right: 0;
    }
  }
}
