.nav {
  padding: 0 1.25rem;
  background: none;

  &[data-menu-open="true"] {
    @apply bg-primary-500;

    backdrop-filter: none;
  }

  .button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.menu {
  &[data-open="true"] {
    @apply bg-primary-500;

    height: 100% !important;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 1.25rem;
  }

  .ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .li {
      list-style: none;
    }
  }
}

.item {
  padding: 0.25rem 0;
}

.wrapper {
  padding: 0;
}

.link {
  @apply text-h3 text-accent-500 font-montserrat;

  @screen mobile_md {
    @apply text-h2;
  }
}

.toggle {
  min-width: 48px;
  height: 48px;
}
