@import "@styles/variables";

.header {
    padding: 0.75rem 0;

    .wrapper {
        position: relative;
        z-index: 101;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
    }

    .nav {
        transition: opacity 0.3s ease-in-out;

        &.open {
            background-color: $primary-color-500;
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 7.5rem;
            height: 100vh;
            width: 100vw;
            z-index: 100;
            padding: 6.5rem 1.25rem 0 1.25rem;
            opacity: 1;
        }

        .ul {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            .li {
                list-style: none;

                .link {
                    @include h2;
                    font-family: var(--font-montserrat);
                    color: $accents-color-500;
                }
            }
        }
    }

    .button {
        background: none;
        border: none;
        cursor: pointer;
    }
}