@import "@styles/mixins";

.background {
  position: relative;
  display: flex;
  margin: 8rem (-$body-margin-mobile);

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $image-easing-gradient;
  }

  @screen tablet {
    margin: 8rem (-$body-margin-tablet);
  }

  @screen desktop_md {
    margin: 8rem (-$body-margin-desktop-md);
  }

  @screen desktop_lg {
    margin: 8rem (-$body-margin-desktop-lg);
  }

  @screen desktop_xl {
    margin: 8rem (-$body-margin-desktop-xl);
  }

  .image {
    object-fit: cover;
  }
}
