@import "mixins/body";
@import "mixins/hero";
@import "mixins/gradients";

@mixin transition {
  transition: all 0.3s;
}

@mixin content_width {
  margin: 0 auto;

  @screen desktop_lg {
    max-width: 90%;
  }

  @screen desktop_xl {
    max-width: 85%;
  }
}
