@import "@styles/mixins";

.section {
  @include section_flex;

  .topContainer {
    @include article_flex;
    @include content_width;

    @screen tablet {
      align-items: unset;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      align-content: stretch;
      gap: 2rem;
    }
  }

  .bottomContainer {
    @include article_flex;

    flex: 1;

    @screen tablet {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
    }

    .titleContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @screen tablet {
        flex-direction: row;
        align-items: center;
      }

      .title {
        @apply text-accent-500 text-h3;

        text-align: center;

        @screen tablet {
          min-width: fit-content;
          margin: 0 1rem;
        }

        @screen desktop_lg {
          @apply text-h1;
        }
      }

      .dividerRight {
        flex-shrink: 2;
      }

      .dividerLeft {
        display: none;

        @screen tablet {
          display: block;
          flex-shrink: 2;
        }
      }
    }

    .cardsContainer {
      @include content_width;

      display: grid;
      align-content: center;
      justify-items: center;
      gap: 4rem;

      @screen tablet {
        gap: 2rem;
      }
    }
  }
}
