@import "@styles/mixins";

.base {
  @apply border border-accent-500/20;

  padding: 0 !important;
  border-radius: 0.5rem !important;
  background: linear-gradient(321deg, #191919 25.93%, #333 155.63%);

  &:hover {
    @apply shadow-accent-500 #{!important};
  }

  .chevron {
    rotate: -90deg;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.content {
  @apply text-accent-500 text-body-sm;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  border-radius: 0 0 0.75rem 0.75rem;

  @screen desktop_md {
    @apply text-accent-500 text-body-md;
  }
}

.trigger {
  padding: 1rem;

  & > div > svg {
    @include transition;
    width: 2rem;
    height: 2rem;
  }

  &[data-open="true"] {
    @apply border-b-0;

    border-radius: 0.75rem 0.75rem 0 0;

    & > div > svg {
      @apply text-secondary-500;

      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.title {
  @apply text-accent-300 text-label-md;
  @include transition;

  @screen desktop_md {
    @apply text-label-lg;

    font-weight: 500;
  }
}

.link {
  @apply text-secondary-500;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & svg {
    @apply text-secondary-500;
  }

  @screen desktop_md {
    gap: 1rem;
    padding: 0.5rem 0;
  }
}
