@import "@styles/mixins";

.base {
  @apply border border-accent-500/20;

  background: linear-gradient(321deg, #191919 25.93%, #333 155.63%);
  border-radius: 1rem;

  .chevron {
    rotate: -90deg;
    width: 1.25rem;
    height: 1.25rem;
  }

  & [data-open="true"] {
    & .title {
      font-size: 1.2rem;
    }

    & .trigger > div > svg {
      @apply text-secondary-500;

      width: 3rem;
      height: 3rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trigger {
  & > div > svg {
    @include transition;
    width: 2rem;
    height: 2rem;
  }
}

.title {
  @apply text-accent-500 text-label-md;
  @include transition;
}

.link {
  @apply text-secondary-500;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & svg {
    @apply text-secondary-500;
  }

  @screen desktop_md {
    gap: 1rem;
    padding: 0.5rem 0;
  }
}
