@import "@styles/mixins";

.section {
  @include article_flex;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 8rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .link {
      @apply text-label-sm text-accent-100;
    }
  }

  .title {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}
