@import "@styles/mixins";

.card {
    background: linear-gradient(320.79deg, #191919 25.93%, #333333 155.63%),
        linear-gradient(154.2deg, rgba(203, 184, 179, 0.4) 16.29%, rgba(203, 184, 179, 0.064) 69.45%, rgba(23, 23, 23, 0.4) 69.45%);

    padding: 0.5rem 1.25rem;

    .body {
        padding: 1rem 0 2rem 0;
    }
}