@import "@styles/mixins";

.cardWrapper {
  @include content_width;

  border-radius: 14px;
  background: rgb(203, 184, 179);
  background: linear-gradient(
    to bottom,
    hsla(13, 19%, 75%, 0.7) 0%,
    hsla(13, 19%, 75%, 0.05) 100%
  );

  .card {
    background: linear-gradient(320.79deg, #191919 25.93%, #333333 155.63%),
      linear-gradient(
        154.2deg,
        rgba(203, 184, 179, 0.4) 16.29%,
        rgba(203, 184, 179, 0.064) 69.45%,
        rgba(23, 23, 23, 0.4) 69.45%
      );

    margin: 1px;
    padding: 0.5rem 1.25rem;

    @screen desktop_md {
      padding: 1rem 3rem;
    }

    .body {
      padding: 1rem 0 2rem 0;
      position: relative;
      .icon {
        display: none;

        @screen mobile_md {
          display: block;
          @apply text-accent-500;
          position: absolute;
          bottom: 2rem;
          right: 0;
        }
      }
    }
  }
}
