@import "@styles/mixins";

.bulbsImage {
  min-height: 300px;

  @screen mobile_md {
    min-height: 400px;
  }

  @screen tablet {
    min-height: 500px;
  }

  @screen desktop_md {
    min-height: 530px;
  }

  @screen desktop_xl {
    min-height: 800px;
  }
}

.cityImage {
  min-height: 700px;

  @screen mobile_md {
    min-height: 800px;
  }

  @screen desktop_md {
    min-height: 900px;
  }

  @screen desktop_xl {
    min-height: 800px;
  }
}
