.container {
  display: flex;
  flex-direction: column;

  @screen desktop_md {
    gap: 6rem;

    &:nth-child(odd) {
      .article {
        flex-direction: row-reverse;
      }
    }
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;

    @screen desktop_md {
      flex-direction: row;
      justify-content: space-between;
      gap: 4rem;
      padding: 0;
    }

    .imageWrapper {
      position: relative;
      width: 100%;

      @screen desktop_md {
        width: 65%;
      }

      @screen desktop_lg {
        width: 50%;
      }

      & > img {
        position: relative !important;
        aspect-ratio: 5/4;
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @screen desktop_md {
        justify-content: center;
        width: 50%;
      }
    }

    .title {
      @apply text-button-lg;

        @screen desktop_md {
            @apply text-d3;
        }
    }

    .content {
        @screen desktop_md {
            @apply text-body-lg;
        }
    }
  }
}
