.accordion {
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-left: 2rem;
}

.trigger {
  padding: 0;
  gap: 1rem;

  & > div {
    flex: 0;
  }

  .indicator {
    & svg {
      @apply text-accent-300;

      width: 1.75rem;
      height: 1.75rem;
    }
  }
}

.title {
  @apply text-h3 text-accent-500;

  padding: 0.5rem;

  @screen mobile_md {
    @apply text-h2;
  }
}

.link {
  @apply text-body-sm text-accent-500;

  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem 0 0.5rem 0;

  svg {
    min-width: 2rem;
    max-width: 2rem;
    height: 2rem;
  }

  &.active {
    @apply text-secondary-500;
  }

  &:hover {
    @apply text-accent-600;

    & * {
      @apply text-accent-600;
    }
  }
}
