$min-screen-md: 1024px;
$min-screen-lg: 1440px;
$min-screen-xl: 1920px;

@mixin screen_md {
  @media (min-width: $min-screen-md) {
    @content;
  }
}

@mixin screen_lg {
  @media (min-width: $min-screen-lg) {
    @content;
  }
}

@mixin screen_xl {
  @media (min-width: $min-screen-xl) {
    @content;
  }
}
