$primary-color-100: #b8b8b8;
$primary-color-200: #959595;
$primary-color-300: #656565;
$primary-color-400: #474747;
$primary-color-500: #191919;
$primary-color-600: #171717;
$primary-color-700: #121212;
$primary-color-800: #0e0e0e;
$primary-color-900: #0b0b0b;

$secondary-color-100: #f8c8c1;
$secondary-color-200: #f5aea3;
$secondary-color-300: #f08979;
$secondary-color-400: #ed725f;
$secondary-color-500: #e94f37;
$secondary-color-600: #d44832;
$secondary-color-700: #a53827;
$secondary-color-800: #802b1e;
$secondary-color-900: #622117;

$accents-color-100: #ebe3e2;
$accents-color-200: #e1d6d3;
$accents-color-300: #d3c3bf;
$accents-color-400: #cbb8b3;
$accents-color-500: #bea6a0;
$accents-color-600: #ad9792;
$accents-color-700: #877672;
$accents-color-800: #695b58;
$accents-color-900: #504643;
