@import "@styles/mixins";

.footer {
  padding: 2rem 0;
  position: relative;

  .nav {
    display: flex;
    position: absolute;
    left: 0;
    margin-left: -1rem;

    .button {
      padding: 1rem;
      svg {
        @apply text-accent-500;
        @include transition;
      }

      &:hover {
        svg {
          @apply text-accent-500;
        }
      }
    }
  }

  .indicators {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    flex: 1;

    @screen mobile_md {
      justify-content: center;
    }

    .indicator {
      @apply bg-accent-500;
      padding: 0.1rem;

      width: 6px;
      height: 6px;
      border-radius: 50%;
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }

      &.active {
        width: 10px;
        height: 10px;
        opacity: 1;
        padding: 0.25rem;
      }
    }
  }
}
