@import "@styles/mixins";

.footer {
  position: relative;

  align-items: initial;
  padding: 1rem 0;
  margin-left: -1rem;
  min-height: 56px;

  .nav {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;

    .button {
      background-color: transparent;
      min-width: 56px;
      height: 56px;

      svg {
        @apply text-accent-500;
        @include transition;
      }

      &:hover {
        svg {
          @apply text-secondary-500;
        }
      }
    }
  }

  .indicators {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    flex: 1;
    margin-left: 2rem;

    @screen mobile_md {
      justify-content: center;
    }

    .indicator {
      @include transition;
      @apply bg-accent-500;

      padding: 0.1rem;
      width: 6px;
      height: 6px;
      border-radius: 50%;

      &:hover {
        @apply bg-secondary-500;
      }
    }
  }
}
