.slide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 160px;
    justify-content: space-between;


    .info {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .box {
        .name {
            @apply text-label-lg;
        }

        .position {
            @apply text-body-sm;
        }
    }
}