.slide {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;

  .info {
    display: flex;
    align-items: center;
    gap: 1rem;

    & > span {
      margin-left: 0.4rem;
    }
  }

  .box {
    .name {
      @apply text-accent-200 text-label-lg;
    }

    .position {
      @apply text-body-sm;
    }
  }
}
