@import "@styles/mixins";

.section {
  @include hero_height;

  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  .hgroup {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 1;

    @screen desktop_md {
      gap: 1rem;
      width: 95%;
    }

    @screen desktop_lg {
      width: 100%;
      max-width: 1150px;
    }

    .title {
      @screen mobile_md {
        @apply text-d3;
      }

      @screen tablet {
        @apply text-d2;
      }
    }

    .text {
      @screen desktop_md {
        width: 80%;
        max-width: 800px;
      }
    }
  }

  .backgroundImage {
    margin-top: auto;
    margin-bottom: -4rem;
    z-index: 0;
    aspect-ratio: 16 / 6;
    min-height: 330px;

    @screen tablet {
      min-height: 430px;
    }

    @screen desktop_md {
      position: absolute;
      width: 100vw;
      bottom: 5rem;
      right: 0;
    }

    @screen desktop_lg {
      margin: 0 (-$body-margin-desktop-lg);
      bottom: 0;
    }

    @screen desktop_xl {
      margin: 0 (-$body-margin-desktop-xl);
      max-height: 600px;
    }
  }

  .backgroundText {
    @apply text-d2 text-accent-500/60 font-montserrat;

    position: absolute;
    bottom: -3.5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    text-transform: uppercase;

    @screen mobile_md {
      @apply text-d1;
    }

    @screen tablet {
      font-size: 84px;
      line-height: normal;
      left: initial;
    }

    @screen desktop_md {
      font-size: 96px;
      line-height: 64px;
      letter-spacing: -0.25px;
      bottom: 0;
    }

    @screen desktop_xl {
      font-size: 136px;
      bottom: 1.5rem;
    }
  }
}
