@import "@styles/mixins";

.section {
  @include hero_height;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 4rem 0 2rem 0;
  gap: 20rem;

  @screen tablet {
    gap: 28rem;
  }

  @screen desktop_md {
    align-items: flex-start;
    gap: unset;
  }

  @screen desktop_lg {
    padding-top: 6rem;
  }

  .background {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 3rem;
    z-index: 0;

    background-image: $image-easing-gradient, url("../../../assets/images/home-hero-mobile.webp");
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16 / 10;

    @screen tablet {
      background-image: $image-easing-gradient, url("../../../assets/images/home-hero-tablet.webp");
      background-position: 20% 60%;
    }

    @screen desktop_md {
      background-image: $image-easing-gradient, url("../../../assets/images/home-hero-desktop-md.webp");
      margin-left: -$body-margin-desktop-md;
    }

    @screen desktop_lg {
      background-image: $image-easing-gradient, url("../../../assets/images/home-hero-desktop-lg.webp");
      background-position: 50% 40%;
      margin-left: -$body-margin-desktop-lg;
    }

    @screen desktop_xl {
      background-image: $image-easing-gradient, url("../../../assets/images/home-hero-desktop-xl.webp");
      background-position: 100% 0%;
      margin-left: -$body-margin-desktop-xl;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    z-index: 1;

    @screen desktop_md {
      width: 65%;
    }

    @screen desktop_lg {
      width: 50%;
    }

    .link {
      margin-top: 1rem;
    }
  }

  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;

    @screen desktop_md {
      width: 75%;
      flex-flow: row nowrap;
      align-items: center;
    }

    .icon {
      width: 2.25rem;
      height: auto;

      @screen tablet {
        width: 3rem;
      }
    }

    .info {
      text-align: center;

      @screen desktop_md {
        text-align: left;
      }
    }
  }
}
