@import "@styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: calc(100vh - 80px);
  gap: 24rem;

  @screen tablet {
    padding-top: 4rem;
    gap: 28rem;
  }

  @screen desktop_md {
    min-height: calc(100vh - 96px);
    align-items: flex-start;
    padding-top: 4rem;
    gap: unset;
  }

  @screen desktop_lg {
    padding-top: 6rem;
  }

  .background {
    $linear-gradient: linear-gradient(
      rgba(25, 25, 25, 1) 10%,
      rgba(25, 25, 25, 0.9) 20%,
      rgba(25, 25, 25, 0.2) 30%,
      transparent 50%,
      rgba(25, 25, 25, 0.2) 70%,
      rgba(25, 25, 25, 0.9) 80%,
      rgba(25, 25, 25, 1) 90%
    );

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 3rem;
    z-index: 0;

    background-image: $linear-gradient,
      url("../../../assets/images/home-hero-mobile.png");
    background-position: 50% top;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16 / 10;

    @screen tablet {
      background-image: $linear-gradient,
        url("../../../assets/images/home-hero-tablet.png");
      background-position: 20% 60%;
    }

    @screen desktop_md {
      background-image: $linear-gradient,
        url("../../../assets/images/home-hero-desktop-md.png");
      margin-left: -$body-margin-desktop-md;
    }

    @screen desktop_lg {
      background-image: $linear-gradient,
        url("../../../assets/images/home-hero-desktop-lg.png");
      background-position: 50% 40%;
      margin-left: -$body-margin-desktop-lg;
    }

    @screen desktop_xl {
      background-image: $linear-gradient,
        url("../../../assets/images/home-hero-desktop-xl.png");
      background-position: 100% 0%;
      margin-left: -$body-margin-desktop-xl;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    z-index: 1;

    @screen desktop_md {
      width: 65%;
    }

    @screen desktop_lg {
      width: 50%;
    }

    .link {
      margin-top: 1rem;
    }
  }

  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;

    @screen desktop_md {
      width: 75%;
      flex-flow: row nowrap;
      align-items: center;
    }

    .icon {
      width: 2.25rem;
      height: auto;

      @screen tablet {
        width: 3rem;
      }
    }

    .info {
      text-align: center;

      @screen desktop_md {
        text-align: left;
      }
    }
  }
}
