@import "@styles/mixins";

.section {
  @include hero_height;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-height: 100dvh;
  padding-bottom: 1rem;

  @screen desktop_md {
    align-items: flex-start;
  }

  .background {
    width: 100dvw;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;

    background-image: $image-easing-gradient, url("../../../assets/images/home-hero.webp");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @screen tablet {
      background-position: 50% 100%;
    }

    @screen desktop_md {
      margin-left: -$body-margin-desktop-md;
      background-position: 50% 80%;
    }

    @screen desktop_lg {
      background-position: 50% 60%;
      margin-left: -$body-margin-desktop-lg;
    }

    @screen desktop_xl {
      background-position: 100% 50%;
      margin-left: -$body-margin-desktop-xl;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;
    margin-top: 2rem;

    @screen tablet {
      margin-top: 8rem;
    }

    @screen desktop_md {
      align-items: flex-start;
      width: 65%;
      gap: 1.5rem;
      margin-top: 4rem;
    }

    @screen desktop_lg {
      margin-top: 6rem;
      width: 65%;
    }

    .title,
    .subtitle {
      text-align: center;

      @screen desktop_md {
        text-align: left;
      }
    }

    .link {
      max-width: 80%;
    }
  }

  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 1;

    @screen desktop_md {
      width: 65%;
      flex-flow: row nowrap;
      align-items: center;
    }

    .icon {
      width: 2.25rem;
      height: auto;

      @screen tablet {
        width: 3rem;
      }
    }

    .info {
      text-align: center;

      @screen desktop_md {
        text-align: left;
      }
    }
  }
}
