$nav-height-mobile: 80px;
$nav-height-desktop-md: 96px;

@mixin heroHeight {
  min-height: calc(100vh - $nav-height-mobile);

  @screen desktop_md {
    min-height: calc(100vh - $nav-height-desktop-md);
  }
}
